
<div>
<ul class="navbar">

    <li><a [routerLink]="['inicio']" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="['nosotros']" routerLinkActive="active">About me</a></li>
    <li><a [routerLink]="['contacto']" routerLinkActive="active">Contact</a></li>
  </ul>
</div>
