
<div class="sidebar">
    <h3>My Sitio</h3>
    <ul>
        <li><a [routerLink]="['inicio']" routerLinkActive="active">Inicio</a></li>
        <li><a [routerLink]="['contacto']" routerLinkActive="active">Contacto</a></li>
        <li><a [routerLink]="['nosotros']" routerLinkActive="active">Nosotros</a></li>
        
 

    </ul>
</div>
