*{
    /* Quita los redondos de la lista*/
    list-style: none;    
    margin: 0;
    padding: 0;
}

div.sidebar{
    height: 100vh;
    width: 25%;
    margin: 0;
    padding:0;
}

.sidebar{
    /* height: 100vh;
    width: 25%; */
    overflow: hidden;
    /* margin: 0;
    padding: 0; */
    /*El contenido es recortado y no se muestran barras de posición*/
    overflow: hidden;
    background-color: #333;
    text-align: center;
  }

  .sidebar h3{
      text-align: center;
      color: aquamarine;
  }
  
  .sidebar li {
    /*El elemento debe flotar a la izquierda de su bloque contenedor.*/
    /* width: 100%; */
    display: block;
  }
  
  .sidebar li a {
    /*Se muestra como un tipo de bloque*/
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    /*Quita el subrayado de los enlaces*/
    text-decoration: none;
  }
  
  /*Cuando el puntero del mouse esta encima del elemento*/
  .sidebar li a:hover {
    background-color: rgb(101, 126, 251);
}
  
.active {
    background-color: #2196F3;
    color: white;
  }
  